body{
  text-align: center;
}
#indicator{
  width: 180px;
  height: 180px;
  position: relative;
  margin: 10% auto;
}
.percent-form {
  display: block;
  font-family: Verdana;
}
input[type=range] {
  display: inline-block;
  vertical-align: middle;
}
